#wrapper {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 80vh 10vh;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: #555 solid ;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  list-style: none;
}

.logo {
  height: 9vh;
  width: auto;
}


main {
  border-bottom: #555 solid ;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #266bd7;
  text-align: center;
}